*
{
    box-sizing: border-box;
    margin: 0;
}
/* Responsive Design */
@media (max-width: 800px)
{
    header
    {
        display: flex;
        align-items: left;
        justify-content: left;
    }
}
/* Header design */
header
{
    background-color: #FFFFFF;
}
.gridContainer-header
{
    display: grid;
    grid-template-columns: 110px auto;
    align-items: center;
    justify-content: left;
}
#siteTitle-header
{
    color: black;
}
#logo
{
    max-width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
}

/* End of Header design */

.link
{
    display: inline-block;
}
body
{
    background-color: #f9f6ec;
}
footer
{
    color: black;
    background-color: #F4E9CD;
    display: flex;
    text-align: left;
}
.footer
{
    font-size: small;
    flex: 1;
    padding: 20px;
}