*
{
    box-sizing: border-box;
    margin: 0;
}
/* Responsive Design */
@media (max-width: 800px)
{
    header
    {
        display: flex;
        align-items: left;
        justify-content: left;
    }
}
header
{
    background-color: #5E503F;
    display: flex;
}
#logo
{
    max-width: 100px;
    height: auto;
    margin: 0;
    padding: 0;
}
.link
{
    display: inline-block;
}
body
{
    background-color: #F4E9CD;
}
footer
{
    color: black;
    background-color: #F4E9CD;
    display: flex;
    text-align: left;
}
.footer
{
    font-size: small;
    flex: 1;
    padding: 20px;
}