/* General Settings */
*{
    box-sizing: border-box;
    margin: 0;
    line-height: 1.4;
}

body {
    font-size: 16px;
}

.menu-container a{
    color: #000000;
    text-align: center;
    padding: 7px 12px;
    text-decoration: none;
}
.menu-container a:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.page-footer {
    font-size: 8px;
    text-align: center;
    background-color: #f2f2f2;
}

/* Mobile */
[class*="col-"] {
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Media query for desktops */

@media (min-width: 768px) {
    body {
        font-size: 20px;
    }

    /* Column Values - 12 columns */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /* Desktop */
    [class*="col-"] {
        float: left;
    }

    footer {
        font-size: 11px;
        text-align: center;
    }
}