.gridTableMain
{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #5E503F;
    padding: 10px;
}
    .flexContainer
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
        .gridItem
        {
            text-align: center;
            color: white;
        }
            .flexContent
            {
                background-color: #5E503F;
                border-radius: 10;
                flex: 1;
                color: white;
                margin: 5px;
            }
            .flexItemPrecio
            {
                background-color: #FFFFFF;
                color: black;
            }
            .gridItemPicture
            {
                border: 5px solid white;
            }
                .imgContent
                {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;
                }