.logo-container
{
    max-width: 100%;
    text-align: center;
}
.logo-container > #logo
{
    display: inline-block;
    height: auto;
    width: 100%;
    max-width: 200px; /* Optional: maximum width of the image */
    min-width: 100px; /* Optional: minimum width of the image */
}

.logo-header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Garamond, Baskerville, Caslon, serif;
}

.main{
    padding: 32px;
}

/* Slideshow container */
.slideshow-container {
    text-align: center;

}
.slideshow-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    aspect-ratio: 4 / 3;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    padding: 16px 25px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

nav{
    background-color: #121212;
    text-align: center;
}

li{
    display: block;
    list-style: none;
    padding: 8px 9px;
}

li a{
    color: white;
    text-decoration: none;

}

.imageFormat{
    height: auto;
    width: 100%;
}

/* Media query for desktops - Main */
@media (min-width: 768px) {
    /* Slideshow container */
    .slideshow-container {
        text-align: center;

    }
    .slideshow-container img {
        width: 50%;
        aspect-ratio: 1 / 1;
    }
    
    /* Hide the images by default */
    .mySlides {
        display: none;
    }
    /* Nav Bar */
    li{
        display: inline-block;
        padding: 16px 18px;
    }
    
}